/**
 * Footer Styles.
 *
 * This file defines the styles for the site footer, including background color,
 * typography, spacing, and the top border separator.
 */

/* Rodapé */
footer {
    background-color: var(--background-dark);
    color: var(--text-color-light);
    text-align: center;
    padding: 30px 0;
    border-top: 1px solid var(--border-color);
    font-size: 0.9em;
}
