/**
 * Section and General Component Styles.
 *
 * This file handles general section padding and background colors (light/dark themes).
 * It also defines the global styling for headings (h1-h3), paragraphs, and
 * Action buttons (primary and secondary CTAs).
 */

/* Seções Gerais */
section {
    padding: 80px 0;
}

.section-light {
    background-color: var(--background-light);
    color: var(--text-color-light);
}

.section-dark {
    background-color: var(--background-dark);
    color: var(--text-color-light);
}

h1,
h2,
h3 {
    color: var(--secondary-color);
    margin-bottom: 20px;
    text-align: center;
}

h1 {
    font-size: 3em;
}

h2 {
    font-size: 2.5em;
}

h3 {
    font-size: 1.8em;
}

p {
    font-size: 1.1em;
    margin-bottom: 15px;
    text-align: center;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
}

/* Botões (CTA - Call To Action) */
.cta-button {
    display: inline-block;
    background-color: var(--primary-color);
    color: var(--text-color-light);
    padding: 15px 30px;
    border-radius: 5px;
    font-size: 1.1em;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1px;
    transition: background-color 0.3s ease, transform 0.2s ease;
    margin-top: 20px;
    border: none;
    cursor: pointer;
}

.cta-button:hover {
    background-color: var(--button-hover-dark);
    transform: translateY(-3px);
}

.button-secondary {
    display: inline-block;
    background-color: transparent;
    color: var(--accent-color);
    border: 2px solid var(--accent-color);
    padding: 13px 28px;
    border-radius: 5px;
    font-size: 1.1em;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1px;
    transition: background-color 0.3s ease, color 0.3s ease, transform 0.2s ease;
    margin-top: 20px;
}

.button-secondary:hover {
    background-color: var(--accent-color);
    color: var(--background-dark);
    transform: translateY(-3px);
}
